*{
  margin:0;
  padding:0;
}

html{
  font-size: 62.5%;
}
body{
  font-weight: 400;
  font-size: 1.8rem;
  padding: 8rem;
  font-family: 'Open Sans', sans-serif;
  line-height: 1.55;
  box-sizing: border-box;
}

article{
  width:70%;
  margin: 0 auto;
}

article > header > figure{
  width:70%;
  margin: 0 auto;
}
article > header > figure > img{
  width:100%;

}
